# Load the shared object
useDynLib(SeqArray)

# Import all packages listed as Imports or Depends
import(gdsfmt)

import(methods)
import(Biostrings)
import(IRanges)
import(GenomicRanges)

# Export all names
exportPattern("^seq*")
export(.onAttach, .Last.lib)

exportClasses(SeqVarGDSClass)

exportMethods(granges, ref, alt)
